server_host = {{mail_ldap_host}}
version = 3
scope = sub
search_base = ou=users,dc=%d,dc=ldap
bind_dn = {{mail_ldap_bind_dn}}
bind_pw = {{mail_password}}
query_filter = (&(uid=%u)(objectClass=account))result_attribute = 1
result_format = %s@localhost
