server_host = {{ POSTFIX_LDAP_SERVERHOST }}
version = 3
search_base = ou=users,dc={{ POSTFIX_LDAP_DC2 }},dc={{ POSTFIX_LDAP_DC1 }}
bind_dn = uid=cyrus,ou=users,dc={{ POSTFIX_LDAP_DC2 }},dc={{ POSTFIX_LDAP_DC1 }}
bind_pw = {{ POSTFIX_LDAP_LDAPBINDPW }}
#query_filter = (|(mail=%s)(uid=%s))
query_filter = (&(!(gidNumber={{ POSTFIX_LDAP_GIDNUMBER }}))(|(mail=%s)(uid=%s)))
result_attribute = uid
result_format = %s@localhost
