{% if postfix_smtpd_use_tls is not defined %}
smtpd_use_tls=yes
smtpd_tls_cert_file=/etc/ssl/certs/ssl-cert-snakeoil.pem
smtpd_tls_key_file=/etc/ssl/private/ssl-cert-snakeoil.key
{% else %}
smtpd_use_tls=yes
smtpd_tls_cert_file={{ postfix_smtpd_tls_cert_file }}
smtpd_tls_key_file={{ postfix smtpd_tls_key_file }}
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated defer_unauth_destination
{% endif %}