smtpd_banner = $myhostname ESMTP $mail_name
biff = no
append_dot_mydomain = no
readme_directory = no
# TLS server parameters
{% if postfix_smtpd_use_tls is not defined %}
smtpd_use_tls=yes
smtpd_tls_cert_file=/etc/ssl/certs/ssl-cert-snakeoil.pem
smtpd_tls_key_file=/etc/ssl/private/ssl-cert-snakeoil.key
{% else %}
smtpd_use_tls=yes
smtpd_tls_security_level = may
smtpd_tls_cert_file={{ postfix_smtpd_tls_cert_file }}
smtpd_tls_key_file={{ postfix_smtpd_tls_key_file }}
smtpd_tls_loglevel = 1
smtpd_tls_session_cache_timeout = 3600s
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
tls_random_source = dev:/dev/urandom
smtpd_tls_auth_only = yes
{% endif %}
# TLS client parameters
# Enable STARTTLS encryption
smtp_tls_security_level = encrypt
# smtp_tls_CAfile = 
{% if postfix_use_tls is defined %}
smtp_use_tls = yes
smtp_tls_cert_file= {{ postfix_smtp_tls_cert_file }}
smtp_tls_key_file= {{ postfix_smtp_tls_key_file }}
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
{% endif %}
{% if enable_postfix_domain_rewrite is defined %}
smtp_generic_maps = {{ postfix_domain_rewrite_filetype }}:{{ postfix_mail_dir_postfix_config }}/generic
{% endif %}
{% if enable_postifx_dkim is defined %}
smtpd_milters = inet:127.0.0.1:8891
non_smtpd_milters = $smtpd_milters
milter_default_action = accept
milter_protocol = 2
{% endif %}
# SASL Auth fuer imap repley
{% if postfix_smtp_sasl_auth_enable %}
# Enable SASL authentication
smtp_sasl_auth_enable = yes
{% endif %}
{% if enable_postfix_sasl_client_conf %}
# Disallow methods that allow anonymous authentication
smtp_sasl_security_options = noanonymous
# Location of sasl_passwd
smtp_sasl_password_maps = hash:/etc/postfix/sasl/passwd
{% endif %}
{% if enable_postfix_sasl_server_conf %}
smtpd_sasl_type = {{ postfix_sasl_type }}
smtpd_sasl_path = smtpd
{% endif %}
# See /usr/share/doc/postfix/TLS_README.gz in the postfix-doc package for
# information on enabling SSL in the smtp client.
myhostname = {{ ansible_fqdn }}
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
# myorigin = /etc/mailname
{% for destination in postfix_mydestination -%}
mydestination = {{ destination }},
{% endfor %}
relayhost =  [{{ postfix_reley_host }}]:587
# add ansible network filter for nic
{% for mynetwork in postfix_mynetworks -%}
mynetworks =  {{ mynetwork }},
{% endfor %}
{% if enable_access_maps is defined %}
transport_maps = hash:/etc/postfix/access
{% endif %}
{% if enable_sender_canonical_maps is defined %}
sender_canonical_maps = hash:/etc/postfix/canonical
{% endif %}
{% if enable_sender_generic_maps is defined %}
sender_canonical_maps = hash:/etc/postfix/generic
{% endif %}
{% if enable_sender_relocated_maps is defined %}
sender_canonical_maps = hash:/etc/postfix/relocated
{% endif %}
{% if enable_transport_maps is defined %}
transport_maps = hash:/etc/postfix/transport
{% endif %}
{% if enable_virtual_maps is defined %}
transport_maps = hash:/etc/postfix/virtual
{% endif %}
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all
inet_protocols = all
{% if postfix_rewrite_domain is defined and enable_postfix_domain_rewrite %}
mydomain = {{ postfix_rewrite_domain }}
{% endif %}
message_size_limit = 33554400