smtpd_banner = $myhostname ESMTP $mail_name
biff = no
append_dot_mydomain = no
readme_directory = no
# TLS server parameters
{% if postfix_smtpd_use_tls is not defined %}
smtpd_use_tls=yes
smtpd_tls_cert_file=/etc/ssl/certs/ssl-cert-snakeoil.pem
smtpd_tls_key_file=/etc/ssl/private/ssl-cert-snakeoil.key
{% else %}
smtpd_use_tls=yes
smtpd_tls_cert_file={{ postfix_smtpd_tls_cert_file }}
smtpd_tls_key_file={{ postfix_smtpd_tls_key_file }}
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated defer_unauth_destination
{% endif %}
# TLS client parameters
{% if postfix_use_tls is defined %}
smtp_use_tls = yes
smtp_tls_cert_file= {{ postfix_smtp_tls_cert_file }}
smtp_tls_key_file= {{ postfix_smtp_tls_key_file }}
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
{% endif %}}
{% if enable_postfix_domain_rewrite is defined %}
smtp_generic_maps = {{ postfix_domain_rewrite_filetype }}:{{ postfix_mail_dir_postfix_config }}/generic
{% endif %}
{% if enable_postifx_dkim is defined %}
smtpd_milters           = inet:127.0.0.1:8891
non_smtpd_milters       = $smtpd_milters
milter_default_action   = accept
milter_protocol         = 2
{% endif %}
# SASL Auth fuer imap repley
{% if postfixsmtp_sasl_auth_enable %}}
smtp_sasl_auth_enable = yes
smtp_sasl_security_options = noanonymous
smtp_sasl_password_maps = hash:/etc/postfix/sasl/passwd
{% endif %}
# See /usr/share/doc/postfix/TLS_README.gz in the postfix-doc package for
# information on enabling SSL in the smtp client.

myhostname = {{ ansible_fqdn }}
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
myorigin = /etc/mailname
mydestination = {{ ansible_fqdn }}, localhost
relayhost = {{ postfix_reley_host }}
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128
{% if enable_transport_maps is defined %}}
transport_maps = hash:/etc/postfix/transport
{% endif %}}
{% if enable_sender_canonical_maps is defined %}}
sender_canonical_maps = hash:/etc/postfix/sender_canonical
{% endif %}}
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all
inet_protocols = all
{% if postfix_rewrite_domain is defined and enable_postfix_domain_rewrite %}
mydomain = {{ postfix_rewrite_domain }}
{% endif %}
message_size_limit = 33554400